:root {
  --border: 1px solid #c0c0c0;
}
.product__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  gap: 1em;
}
.product__image > img {
  width: 100%;
}

.product__add-cart {
  border-radius: 0.3em;
}
.product__border {
  border: var(--border);
}
.product__add-cart-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border-bottom: var(--border);
  padding: 1em;
}
.product__add-cart-button {
  padding: 1em;
}
.product__description > div {
  margin: 1em 0;
}
.product__add-cart-button > button {
  background-color: black;
  color: white;
  padding: 1em 0;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
}
