@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
:root {
  --primary-color: #383838;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
h1 {
  margin: 1.3em 0;
}
p {
  margin: 0;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
