:root {
  --border-radius: 0.4em;
  --box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.09);
}
.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: white;
}
.card__wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}
.card:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.178);
}
.card__image > img {
  width: 100%;
}
.card__info {
  display: grid;

  grid-template-rows: repeat(auto-fit, minmax(3em, 1fr));
  gap: 1em 0;
  margin-top: 1em;
}
.card__info > * {
  display: block;
}

.card__info strong:last-child {
  margin-bottom: 0;
  font-size: 1.7em;
}
.card__info > strong {
  font-size: 1.2em;
}
